section.landing {
  background: url("./images/gradient.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

nav > div.nav-wrapper {
  background-color: #313131;
  box-shadow: none;
}

a.brand-logo {
  margin-left: 1em;
}

.navLink {
  font-size: 1.25em;
  margin-right: 1em;
}

span.hello {
  font-size: 10em;
  color: white;
}

span.periodHello {
  font-size: 10em;
  color: #F0DB4F;
}

span.iAm {
  font-size: 3em;
  color: white;
}

div.front.container {
  margin-top: 25vh;
  margin-left: auto;
}

.fa-file {
  margin-right: .5em;
}

.fa-linkedin {
  margin-right: .5em;
}

.fa-html5 {
  color: #E44D26;
  margin-right: .5em;
}

.fa-css3-alt {
  color: #2965f1;
  margin-right: .5em;
}

.fa-node {
  color: #3C873A;
  margin-right: .5em;
}

.fa-js-square {
  color: #F0DB4F;
}

.fa-react {
  color: #61DBFB;
}

.page-footer {
  background-color:#313131; 
}

div.secondRow {
  margin-top: 4em;
}

@media screen and (max-width: 420px) {

  span.hello {
    font-size: 5em;
    color: white;
  }

  span.iAm {
    font-size: 1.25em;
    color: white;
  }

  nav > div > a.brand-logo {
    margin-left: 0;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 700px) {

  a.brand-logo {
      margin-left: 0;
      font-size: 2em;
  }
}

@media screen and (max-width: 992px) {

  section.landing {
    background: url("./images/small.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    overflow: auto;
  }

  a.brand-logo {
      margin-left: 0;
      font-size: 2em;
  }

  div.front.container {
    margin-top: 25vh;
    margin-left: auto;
  }
}

